.img {
  width: 350px;
  height: 270px;
  border-radius: 40px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: rgba(0, 0, 0, 0.429);
}

.container {
  background: linear-gradient(
      127deg,
      rgba(251, 242, 242, 0.568),
      #8a0611c3 95.71%
    ),
    linear-gradient(
      336deg,
      rgba(238, 0, 254, 0.806),
      rgba(16, 90, 209, 0.196) 80.71%
    );
  text-align: center;
  padding: 20px;
  border-radius: 40px;
}

.child {
  display: flex;
  flex-wrap: wrap;
}

.box {
  margin: 10px auto;
}

.skills {
  font-size: 50px;
  color: white;
  font-family: "Major Mono Display", monospace;
  margin: 30px;
}

@media only screen and (max-width: 600px) {
  .img {
    width: 300px;
    height: 200px;
  }
}

.skills {
  color: rgba(0, 0, 0, 0.623);
  font-size: 60px;
}
