.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  font-family: "Major Mono Display", monospace;
  padding-top: 200px;
  padding-bottom: 200px;
  border-top: rgba(0, 0, 0, 0.484) solid 2px;
}

.h2-footer {
  font-size: 70px;
}

li {
  list-style: none;
  font-size: 40px;
}

.mateo2 {
  color: black;
  font-size: 18px;
  font-weight: bolder;
}

.alink {
  text-decoration: none;
  color: black;
}

.alink:hover {
  color: #ff0a54;
}

@media only screen and (max-width: 600px) {
  .h2-footer {
    font-size: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin: 55px;
  }
}

@media only screen and (max-width: 600px) {
  li {
    padding-top: 22px;
  }
}
