.hero-image {
  background-image: url(/src/assets/mateo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 700px;
  height: 700px;
  filter: grayscale(80%);
  border-radius: 50px;
  margin: 10px;
  font-family: "Major Mono Display", monospace;
  font-size: 40px;
}

.about-me {
  display: flex;
  justify-content: center;
}

.h2 {
  text-align: center;
  font-family: "Major Mono Display", monospace;
  color: #ff0a54;
  font-size: 40px;
  font-weight: bolder;
  margin: 10px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hero-image:hover {
  opacity: 0.9;
}

.hero-image:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
}

.dot {
  height: 50px;
  width: 50px;
  background: linear-gradient(127deg, #ff0a53, rgba(0, 0, 0, 0.231) 70.71%);
  border-radius: 50%;
  display: flex;
  margin: 40px auto;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .hero-image {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (min-width: 2800px) {
  .hero-image {
    width: 2300px;
    height: 2300px;
    margin-top: -100px;
  }
}

@media only screen and (min-width: 2800px) {
  .text {
    font-size: 80px;
  }
}

@media only screen and (min-width: 2800px) {
  .h2 {
    font-size: 100px;
    padding: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .text {
    position: relative;
    bottom: -670px;
  }
}
